<a href="https://colab.research.google.com/github/MendozaRyoShincpe/CPE-009A_Mendoza-Ryo-Shin/blob/main/Hands_on_Activity_1_1_Mendoza_Ryo_Shin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Hands-on Activity 1.1 Literals, Operators, and Variables**

**Name**: Mendoza, Ryo Shin P.

**Section**: CPE12S2

**Date**: January 8, 2026

# **Assigning variables of different data types in Python**

1. In an empty cell, declare a variable value and assign it the value of 5 then display its value using print().

In [6]:
value = 5
print(value)

8

2. Create a new cell and type the command: type(value) then run the cell. The output should be like the image  below.

In [2]:
print(type(value))

<class 'int'>

3. In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [ ]:
value = 5.0
print(value)

 4. Repeat step 2.

In [8]:
print(type(value))

<class 'int'>

5. Repeat these steps for the following values:

a. 2+3j

b. ‘Hello World’

c. “Hello World”

d. True

e. False

f. [1,2,3,4,5]

g. (1,2,3,4,5)

h. { ‘name’: ‘Your_name’ }

i. None

In [9]:
# Step 5(a): Assign complex number
value = 2 + 3j
print(value)
print(type(value))

(2+3j)
<class 'complex'>

In [10]:
# Step 5b: Assign string with single quotes
value = 'Hello World'
print(value)
print(type(value))

Hello World
<class 'str'>

In [11]:
# Step 5c: Assign string with double quotes
value = "Hello World"
print(value)
print(type(value))

Hello World
<class 'str'>

In [ ]:
# Step 5d: Assign boolean with "True"
value = True
print(value)
print(type(value))

False
<class 'bool'>

In [13]:
# Step 5e: Assign boolean with "False"
value = False
print(value)
print(type(value))

False
<class 'bool'>

In [14]:
# Step 5f: Assign list
value = [1, 2, 3, 4, 5]
print(value)
print(type(value))

[1, 2, 3, 4, 5]
<class 'list'>

In [15]:
# Step 5g: Assign tuple
value = (1, 2, 3, 4, 5)
print(value)
print(type(value))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [16]:
# Step 5h: Assign dictionary
value = {'Mendoza': 'Ryo Shin'}
print(value)
print(type(value))

{'Mendoza': 'Ryo Shin'}
<class 'dict'>

In [17]:
# Step 5i: Assign None
value = None
print(value)
print(type(value))

None
<class 'NoneType'>

In [18]:
# Step 6: Re-assign value to 5
value = 5
print(value)
print(type(value))

5
<class 'int'>

In [20]:
# Step 7: Declare new variable value2
value2 = -6
print(value2)
print(type(value2))

-6
<class 'int'>

# **Performing Operations with Python**

1. Using value and value2. Type the command: print(value+value2)

In [23]:
value, value2 = 5, -6
print(value + value2)

-1

2. Repeat step 1 for the following values of value and value2:

In [34]:
# a. Float and Integer
value, value2 = 5.0, 6
print(value + value2)

11.0

In [25]:
# b. Negative Integer and Float
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

In [26]:
# c. Strings (seperated with space)
value, value2 = "Hello", "world"
print(value + " " + value2)

Hello world

In [27]:
# d. Lists
value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

In [28]:
# e. Tuples
value, value2 = (1, 2, 3), (4, 5, 6)
print(value, value2)

(1, 2, 3) (4, 5, 6)

In [43]:
# f. Dictionaries
value, value2 = {"Mendoza": "Ryo Shin"}, {"Age:": 18}
value.update(value2)
print(value)

{'Mendoza': 'Ryo Shin', 'Age:': 18}

3. Using value, value2 = 30, 4. Type the commands:

a. print(value*value2)

b. print(value2**2)

c. print(value2**3)

d. print(value*value2+value2**2+1)

e. print(value/value2)

f. print(value%value2)

In [33]:
value, value2 = 30, 4

# a. Multiplication
print(value * value2)

# b. Exponentiation (square)
print(value2 ** 2)

# c. Exponentiation (cube)
print(value2 ** 3)

# d. Combined expression
print(value * value2 + value2 ** 2 + 1)

# e. Division
print(value / value2)

# f. Modulo (remainder)
print(value % value2)

120
16
64
137
7.5
2

# **# Assigning Input Data to a Variable (BMI)**

In [48]:
name = str(input("Enter your name:"))
weight = float(input("Enter your weight(kg):"))
height = float(input("Enter your height(m):"))
bmi = float(weight / (height **2))
print()
print ("Name:", name)
print ("Weight:", weight)
print ("Height", height)
print ("BMI:", bmi)

Enter your name:Ryo Shin Mendoza
Enter your weight(kg):53
Enter your height(m):1.6764

Name: Ryo Shin Mendoza
Weight: 53.0
Height 1.6764
BMI: 18.85908271357406

# **Supplemetary Activity**

1. Write the Python equivalent code of the following C code

In [46]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = 0.5 * base * height

print("The area of the triangle is", area)

Enter the base of the triangle: 8
Enter the height of the triangle: 11
The area of the triangle is 44.0

Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32

In [45]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 30
Temperature in Fahrenheit: 86.0

Write a program that can determine the distance between two points given the coordinates using the  formula:

In [47]:
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

distance = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5

print("The distance between the two points is:", distance)

Enter x1: 3
Enter y1: 4
Enter x2: 5
Enter y2: 6
The distance between the two points is: 2.8284271247461903