<a href="https://colab.research.google.com/github/MendozaRyoShincpe/CPE-009A_Mendoza-Ryo-Shin/blob/main/Python_Fundamentals_Mendoza%2C_Ryo_Shin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [ ]:
if 5 > 2:
  print ("FIVE IS GREATER THAN TWO!")

FIVE IS GREATER THAN TWO!

**Python Comment**

In [ ]:
#This is a comment
print ("Hello World")

Hello World

**Python Variable**

In [ ]:
x = 1
a, b = 0, -1
a, b, c=0,-1,2 #SINGLE LINE OF CODE, VARIABLE = VALUE
print (a * b + c)

2

In [ ]:

#Others:
x = 1
a, b = 0, -1
a, b, c=0,-1,2 #SINGLE LINE OF CODE, VARIABLE = VALUE
b = "SALLY" #This is a type of string
print (b)

SALLY

**Casting**

In [ ]:
b = "sally" #This is a type of string
b = int(4)
print (b)

b = float(4)
print (b)

4
4.0

**Type() Function**

In [ ]:
x = 5
y = "Ryo"
print (type(x)) #"type" shows what data type it is
print (type(y))

<class 'int'>
<class 'str'>

**"Double Quotes" or 'Single' quotes**

In [ ]:
#String variables can be declared either by using by using single or double quotes

y = "John"
y = 'John'

print(y)

John

**Case Sensitive**

In [ ]:
a = 4
A = "Ryo"

print(a)
print(A)

4
Ryo

**Multiple Variables**

In [ ]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

**One Value to Multiple Varibles**

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

**Output Variables**

In [ ]:
x = "enjoying"
print ("Python Programming is " + x)

#Other way:

x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python Programming is enjoying
Python is enjoying

**Arithmetic Operations**

In [ ]:
# Addition
x = 5
y = 3
print (x + y)

x = 5
y = 3
sum = x + y
print (sum)

# Subtraction
x = 5
y = 3
print (x - y)

# Multiplication
x = 5
y = 3
print (x * y)

# Division
x = 5
y = 3
print (x / y)

# Modulus
x = 5
y = 3
print (x % y)

# Exponentation
x = 5
y = 3
print (x ** y)

# Floor Division
x = 5
y = 3
print (x // y)

8
8
2
15
1.6666666666666667
2
125
1

**Assignment Operators**

In [ ]:
s = 1
s += 3
print (s)

s = 1
s -= 3
print (3)

s = 1
s *= 3
print (s)

s = 1
s /= 3
print (s)

s = 1
s %= 3
print (s)

s = 1
s //= 3
print (s)

s = 1
s **= 3
print (s)

s = 1
s &= 3
print (s)

s = 1
s |= 3
print (s)

s = 1
s ^= 3
print (s)

s = 1
s >>= 3
print (s)

s = 1
s <<= 3
print (s)

4
3
3
0.3333333333333333
1
0
1
1
3
2
0
8

**Comparison Operators**

In [ ]:
t = 1
u = 2

print (t == u)
print (t != u)
print (t > u)
print (t < u )
print (t >= u)
print (t <= u)

False
True
False
True
False
True

**Logical Operators**

In [ ]:
t = 1
u = 2

print (t < 5 and t < 10)
print (t < 5 or t < 4)
print (not(t < 5 and t < 10))

True
True
False

Indentity Operators

In [ ]:
t = 1
u = 2

print (t is u)
print (x is not y)

False
True

Bitwise Operator

In [ ]:
v = 2 #0010

print (v << 1) #The output is 4 because 0100 shifted to the left
print (v << 2) #1000
print (1 & 2) #0000
print (15 & 15) #1111

4
8
0
15